<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8"/>
    <meta lang="en-US"/>
    <meta translate="no"/>
    <title>BuildMonitor</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.min.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
