@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="buildInfoTile succeeded">
    <h3>Some build</h3>
    <ul>
        <li>Succeeded (# builds / # succeeded)</li>
    </ul>
</div>
<div class="buildInfoTile failed">
    <h3>Some build</h3>
    <ul>
        <li>Failed (# builds / # succeeded)</li>
    </ul>
</div>
<div class="buildInfoTile partiallysucceeded">
    <h3>Some build</h3>
    <ul>
        <li>Partially Succeeded (# builds / # succeeded)</li>
    </ul>
</div>
<div class="buildInfoTile inprogress">
    <h3>Some build</h3>
    <ul>
        <li>In Progress (# builds / # succeeded)</li>
    </ul>
</div>